body {
  background-color: rgb(244, 246, 248);
  font-family: Arial, Helvetica, sans-serif;
}
div {
  margin-left: 10%;
  margin-right: 10%;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.contact_input {
  padding: 8px;
  font-size: 16px;
}
button {
  padding: 10px;
  background-color: #1976d2;
  color: white;
  border: none;
  cursor: pointer;
}
